body {
    line-height: 1;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer
}

h1 span {
    transition: .3s linear
}

h1:hover span:nth-child(1) {
    margin-right: 5px
}

h1:hover span:nth-child(1):after {
    font-size: 16px;
    content: "         Making things easy...";
}

h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px rgb(48, 151, 235), 0 0 2px rgb(48, 151, 235), 0 0 3px rgb(48, 151, 235);
}