.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.txt-primary {
    width: 100%;
    color: rgb(38, 85, 214);
    text-align: center;
}

.txt-title {
    width: 100%;
    color: rgb(38, 85, 214);
    display: flex;
}

.footer {
    font-weight: bold;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 37, 37);
    color: rgb(42, 133, 207);
    text-align: center;
}